.egg {
    background-color: rgb(255, 245, 151);
}

.bread {
    background-color: rgb(255, 226, 189);
}

.sausage {
    background-color: rgb(235, 201, 138);
}

.words {
    font: 1em sans-serif;
    color:rgb(41, 41, 41)
}

.subtitle {
    font: 1em sans-serif;
}

.titlePage {
    background-color: rgb(250, 235, 215);
}

.links {
    font: 1em sans-serif;
    transition-duration: 0.3s;
    color:rgb(65, 131, 255)
}

.links:hover {
    padding-left: 15px;
    color: rgb(0, 4, 255)
}

.sausage_links {
    font: 1em sans-serif;
    transition-duration: 0.3s;
    color:rgb(20, 102, 255)
}

.sausage_links:hover {
    padding-left: 15px;
    color:rgb(0, 4, 255)
}